[flake8]
# Ignore the following rules because we disagree with them, or at least
# disagree with enforcing them religiously with no programmer discretion:
# E501 - max line length
# E701 - no single-line compound statements
# E252 - missing whitespace around parameter equals
extend-ignore = E501,E701,E252

exclude = .git,__pycache__,third_party,python_libs/tlbchip/bioinf_db/alembic/versions/
